/* common */
body {
    margin: 0;
    display: flex;
    flex-direction: column;
}
/* common */

/* ESHeader.vue */
.header-area{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 1000px;
    margin: 30px auto;
}
/* ESHeader.vue */

/* ESLogo.vue */
.main-logo-area{
    display: flex;
    flex-direction: column;
    margin: 0px 10px;
}
.main-logo{
    height: 100px;
    width: 100px;
}
/* ESLogo.vue */

/* ESNav.vue */
.nav-list-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* width: auto; */
    width: 600px;
    margin: 0px 10px;

    border: 1px solid black;
    border-radius: 5px;
}
.nav-list{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.nav-list-item{
    float: left;
    margin: 15px;
}
/* ESNav.vue */

/* ESUserInfo.vue */
.user-info-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px 0px 0px auto;

    border: 1px solid black;
    border-radius: 5px;
}
.user-info-list{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.user-info-list-item{
    float: left;
    margin: 15px;
}
/* ESUserInfo.vue */

/* ESFooter.vue */
.footer-area {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 1000px;
    padding: 20px 0px;
    background-color: #a775f1;
}
.copy-text {
    justify-content: center;
    align-content: center;
}
/* ESFooter.vue */
