/* common */
body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.main{
    display: flex;
    justify-content: center;
}

.btn, 
.btn:link, 
.btn:visited {
    display: flex;
    text-decoration: none !important;
    color: white;
    background-color: black;
    border: none;
    border-radius: 10px;
    height: 50px;
    width: 100px;
    /* font-size: 30px; */
}
 
.btn:hover {
    text-decoration: none !important;
    color: black;
    background-color: white;
}

.btn:active {
    text-decoration: none !important;
    color: white;
    background-color: gray;
}

.btn-common {
    align-items: center;
    justify-content: center;
    
}
.tbl {
    border: none;
}
 /* table-main-view */
/* common */

/* ESHeader.vue */
.header-area{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 1000px;
    margin: 30px auto;
}
/* ESHeader.vue */

/* ESLogo.vue */
.main-logo-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
    margin: 0px 10px;
}
.main-logo{
    height: 100px;
    width: 100px;
}
/* ESLogo.vue */

/* ESNav.vue */
.nav-list-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* width: auto; */
    width: 700px;
    margin: 0px 10px;

    border: 1px solid black;
    border-radius: 5px;

    background-color: aqua;
}
.nav-list{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.nav-list-item{
    float: left;
    margin: 15px;
}
/* ESNav.vue */

/* ESUserInfo.vue */
.user-info-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    margin: 0px 0px 0px auto;

    border: 1px solid black;
    border-radius: 5px;

    background-color: bisque;
}
.user-info-list{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.user-info-list-item{
    float: left;
    margin: 15px;
}
/* ESUserInfo.vue */

/* ESFooter.vue */
.footer-area {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100%;
    margin: 10px 0px;
    padding: 20px 0px;
    background-color: #a775f1;
}
.footer-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1000px;
}
.license {
    justify-content: center;
    align-content: center;
}
.bold-text{
    display: inline-block;
    font-weight: 800;
}
/* ESFooter.vue */

/* EmotionStorageMain */
.main-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-logo-section{
    margin: 30px;
}

.start-btn-area {
    display: flex;
    flex-direction: row;
    
    margin: 30px;
}
/* EmotionStorageMain */

/* EmotionView */
.post-view-list-area {

}

.index-top{
 
}

.post-area{
    width: 1000px;
}

.each-post-ele{
    margin: 5px 0;
}

.year-area {
    font-size: 26px;
    font-weight: bold;
    /* background: linear-gradient(90deg, #1BFB9B, #2AF6EA); */
    background: linear-gradient(90deg, #1BFB9B, white);
}

.month-area {
    font-size: 20px;
    font-weight: bold;
    /* background: linear-gradient(90deg, #FACF68, #FB70B1); */
    background: linear-gradient(90deg, #FACF68, white);
}

.day-area {
    /* background: linear-gradient(90deg, #34E4E2, #B586F8); */
    background: linear-gradient(90deg, white, #B586F8);
}

.day-span {
    font-size: 16px;
    font-weight: bold;
}
/* EmotionView */

/* EmotionSave */
.post-write-area{
    display: flex;
    flex-direction: column;
    width: 1000px;

    gap: 15px;
}

.post-write-form{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;

    gap: 10px;
}

.title{
    /* width: 100%; */
}

.tag{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    
    gap: 5px;
}

.tag-input{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 5px;
}

.post-tag-input{
    box-sizing: border-box;
    height: 30px;
    width: auto;
}

.tag-add-button{
    box-sizing: border-box;
    height: 30px;
    width: 30px;
}

.tag-list{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 5px 0px;
    padding: 5px
}

.tag-box{
    box-sizing: border-box;
    border: .5px solid gray;
    border-radius: 12px;
    list-style-type: none;
    margin: 0 5px;
}

.post-title-input{
    box-sizing: border-box;
    height: 30px;
    width: 100%;
    border: 1px solid gray;
    border-radius: 8px;
}

.post-content-input{
    box-sizing: border-box;
    width: 100%;
    resize: none;
    overflow-y: auto;
    border: 1px solid gray;
    border-radius: 8px;
}
/* EmotionSave */